<h1>Výpis uživatelů</h1>
  <% if notice %>
    <p id="notice" ><%= notice %></p>
  <% end %>

<table>
  <tr>
    <th>Jméno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Zobrazit', user %></td>
    <td><%= link_to 'Upravit', edit_user_path(user) %></td>
    <td><%= link_to 'Odstranit', user, :confirm => 'Opravdu odstranit?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nový uživatel', new_user_path %>
